h3 {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    text-align: center;
}

img {
    height: 20em;
    
}

div {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}